header {
    background-color: #fff;
    color: #214ED3;
    text-align: center;
    padding: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}
header .navbar a.active{
    color: #ff0000;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

body {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    margin: 0;
    background-color: #fff;
    color: #214ED3;
}
.navigation-bar-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.navigation-bar {
    position: fixed;
    bottom: 6vh;
    width: 30%;
    margin: 0 auto;
    background-color: #fff8f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px 10px 50px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 150px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.navigation-bar:hover {
    opacity: 1;
}

.nav-arrow,
.nav-button {
    font-size: 25px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    position: relative; /* Add this line for relative positioning */
}

.nav-button {
    font-size: 15px;
    margin: 0;
    padding-top: 5px;
}

.nav-arrow a,
.nav-button a {
    text-decoration: none;
    color: #214ED3;
    transition: color 0.3s ease;
}

.nav-arrow:hover a,
.nav-button:hover a {
    color: #ff0000;
}

.tooltip {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1; /* Ensure tooltips appear above other content */
}

.nav-arrow:hover .tooltip {
    display: block;
    opacity: 1;
}

a {
    text-decoration: none;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 1vw;
    width: 20px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-line {
    width: 1px;
    background-color: #214ED3; /* Adjust as needed */
    flex: 1;
}

.progress-circle {
    width: 15px;
    height: 15px;
    background-color: #fff8f5; /* Filled color */
    border: 1px solid #214ED3; /* Blue outline color */
    border-radius: 50%;
    margin-top: 10px; /* Adjust as needed */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
}
.img img{
    display: block;
    position: relative;
    max-width: 70%; /* Set to 100% for responsiveness */
    margin: auto; /* Center the image horizontally */
}
.mainimg-container{
    background-color: #fff8f5;
}

.marketimgs img{
    display: block;
    position: relative;
    max-width: 50%; /* Set to 100% for responsiveness */
    margin: auto; /* Center the image horizontally */
}

.otherimgs img{
    display: block;
    position: relative;
    max-width: 50%; /* Set to 100% for responsiveness */
    margin: auto; /* Center the image horizontally */
}


h1 {
    color: #214ED3;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    padding: 70px 20vw 0 20vw;
}
h2 {
    color: #214ED3;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: 300;
    padding: 0px 20vw 0px 20vw;
    
}

h3 {
    color: #214ED3;
    font-family: 'Playfair Display', serif;
    font-size: 17px;
    font-weight: 600;
    padding: 20px 0px 0px 20vw;
    line-height: 1.5;
}

h4 {
    color: #214ED3;
    font-family: 'Playfair Display', serif;
    font-size: 17px;
    font-weight: 100;
    padding: 20px 0px 0px 20vw;
    line-height: 2;
}



p {
    color: #214ED3;
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.7;
    /* word-spacing: 0.7px; */
    padding: 0px 20vw 0px 20vw;
    margin-bottom: 0px;
}
.indented-paragraph {
    padding: 0px 20vw 0px 25vw;
}

ul {
    color: #214ED3;
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.7;
    padding: 0px 20vw 0px 25vw;
    margin: 0px 0px 0px 0px;
}

.contact-links {
    display: flex;
    justify-content: center;
    margin: 70px 0px 30px 0px;
}

.contact-links a {
    color: #214ED3;
    text-decoration: none;
    font-weight: 200;
    font-size: 18px;
    margin: 20px 20px;
}

.contact-links a:hover{
    color: #ff0000; /* Change to your desired link color on hover */
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}
