header {
    background-color: #fff;
    color: #214ED3;
    text-align: center;
    padding: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}
header .navbar a.active{
    color: #ff0000;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

body {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    margin: 0;
    color: #214ED3;
    
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 1vw;
    width: 20px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-line {
    width: 1px;
    background-color: #214ED3; /* Adjust as needed */
    flex: 1;
}

.progress-circle {
    width: 15px;
    height: 15px;
    background-color: #fff8f5; /* Filled color */
    border: 1px solid #214ED3; /* Blue outline color */
    border-radius: 50%;
    margin-top: 10px; /* Adjust as needed */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
}

a {
    text-decoration: none;
}
.mainimg-container{
    background-color: #fff8f5;
}
.slideshow-container {
    position: relative;
    max-width: 60%;
    overflow: hidden;
    margin: auto;
    padding: 40px 0px;
    
    
}

.slideshow-container:hover .prev,
.slideshow-container:hover .next {
    display: block; /* Show the arrows only when hovering over the slideshow container */
}

.mySlides {
    display: none;
    text-align: center;
}


img {
    width: 100%;
    height: auto;
}

/* Navigation arrow styles */
.prev,
.next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 0px 5px;
    margin-top: -22px;
    font-size: 30px;
    cursor: pointer;
    color: rgba(33, 78, 211, 0.5);
    
}

.prev:hover,
.next:hover {
    color: rgb(33, 78, 211, 1);
}
.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    color: rgb(33,78,211, 1);
}
.otherimgs{
    position: relative;
    max-width: 60%;
    overflow: hidden;
    margin: auto;
}

h1 {
    color: #214ED3;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    padding: 70px 20vw 0 20vw;
}
h2 {
    color: #214ED3;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: 300;
    padding: 0px 20vw 0px 20vw;
    
}

h3 {
    color: #214ED3;
    font-family: 'Playfair Display', serif;
    font-size: 17px;
    font-weight: 600;
    padding: 20px 0px 0px 20vw;
    line-height: 0.5;
    
}

p {
    color: #214ED3;
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.7;
    /* word-spacing: 0.7px; */
    padding: 0px 20vw 0px 20vw;
    margin-bottom: 0px;
}
.indented-paragraph {
    padding: 0px 20vw 0px 25vw;
}

ul {
    color: #214ED3;
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.7;
    padding: 0px 20vw 0px 25vw;
    margin: 0px 0px 0px 0px;
}
#figmaIframe {
    width: 800px;
    height: 600px;
    border: none;
}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Additional styles for responsiveness */
iframe {
    width: 75%;
    height: 100%;
    border: none;
}

.user-testing iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-right: 20vw;
}
.navigation-bar-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.navigation-bar {
    position: fixed;
    bottom: 6vh;
    width: 30%;
    margin: 0 auto;
    background-color: #fff8f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px 10px 50px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 150px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.navigation-bar:hover {
    opacity: 1;
}

.nav-arrow,
.nav-button {
    font-size: 25px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    position: relative; /* Add this line for relative positioning */
}

.nav-button {
    font-size: 15px;
    margin: 0;
    padding-top: 5px;
}

.nav-arrow a,
.nav-button a {
    text-decoration: none;
    color: #214ED3;
    transition: color 0.3s ease;
}

.nav-arrow:hover a,
.nav-button:hover a {
    color: #ff0000;
}

.tooltip {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1; /* Ensure tooltips appear above other content */
}

.nav-arrow:hover .tooltip {
    display: block;
    opacity: 1;
}


.contact-links {
    display: flex;
    justify-content: center;
    margin: 70px 0px 30px 0px;
}

.contact-links a {
    color: #214ED3;
    text-decoration: none;
    font-weight: 200;
    font-size: 18px;
    margin: 20px 20px;
}

.contact-links a:hover{
    color: #ff0000; /* Change to your desired link color on hover */
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}
